.page {
  padding-left: 0;
  padding-bottom: 2rem;
}
@media (min-width: 78rem) {
  .page {
    padding-left: 20rem;
  }
}

.flow > h1 {
  margin-block-start: var(--space-3xl);
}

.flow > h1 + * {
  margin-block-start: var(--space-l);
}

.flow > h2 {
  margin-block-start: var(--space-xl);
}

.flow > h2 + * {
  margin-block-start: var(--space-m);
}

.flow > h3 {
  margin-block-start: var(--space-l);
}

.flow > h3 + * {
  margin-block-start: var(--space-s);
}

.flow > img {
  margin-block-start: var(--space-l);
}

.flow > * + * {
  margin-block-start: var(--space-xs);
}

.flow > [class^="lead"] {
  margin-block-end: 1rem;
}

.flow > [class*="post-navigation"] {
  margin-block-start: var(--space-xl);
}

.stack-lg {
  padding-block: 2rem;
}

.stack-sm {
  margin-block-start: 2rem;
}

.stack-sm > * > * {
  padding-block: 1rem;
}

.grid {
  display: grid;
}

.grid[data-layout="split"] {
  grid-template-columns: repeat(2, 1fr);
}

.repel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gutter, 1em);
}
