.repel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gutter, 1em);
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.flow :is(h1, h2, h3, h4, h5) {
  margin-block-start: 1em;
}

.flow :is(h1 + *) {
  --flow-space: var(--space-l);
}

.flow :is(h2 + *, h3 + *, h4 + *) {
  --flow-space: var(--space-s);
}

.stack-sm > * + * {
  margin-block-start: var(--space, 1.5em);
}

.stack-lg > * + * {
  margin-block-start: var(--space, 3rem);
}
