.page {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
@media (min-width: 78rem) {
  .page {
    padding-left: 20rem;
  }
}

.page-container {
  padding-top: 2rem;
  padding-inline: 4rem;
  max-width: 80ch;
}

.repel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gutter, 1em);
}
