@import './typography.css';
@import './theme.css';
@import './reset.css';
@import './utilities.css';

/* Global styles 👇 */
:root {
  font-family: 'Söhne';
  font-weight: 400;
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
}

h1 {
  font-family: 'Söhne';
  font-weight: 600;
  font-size: var(--text-5xl);
  line-height: 1.1;
}

h2 {
  font-family: 'Söhne';
  font-weight: var(--font-medium);
  font-size: var(--text-3xl);
  line-height: 1.1;
}

h3 {
  font-family: 'Söhne';
  font-weight: var(--font-medium);
  font-size: var(--text-2xl);
  color: var(--text-muted);
  line-height: 1.1;
}

p {
  font-family: 'Söhne';
  font-weight: 400;
  font-size: var(--text-base);
  color: var(--text);
  line-height: 1.5;
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

/* responsive header */
@media (min-width: 1280px) {
  #open-mobile-menu-button {
    display: none;
  }

  .desktop-only {
    display: grid;
  }
}

@media (max-width: 1279px) {
  #desktop-navigation-links {
    display: none;
  }
}
