@import "./typography.css";
@import "./theme.css";
@import "./reset.css";
@import "./composition.css";
@import "./utilities.css";

/* Global styles 👇 */
:root {
  background: var(--color-bg);
}

body {
  color: var(--color-text-primary);
  font-family: "Inter";
  font-size: var(--step-0);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-1);
}

p {
  font-size: var(--step-0);
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-link-hover);
}

ul {
  list-style: none;
  padding: 0;
}

pre {
  padding: 1.5rem;
}

button.has-icon {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  line-height: 0;
  color: var(--toggle-fg);
  background-color: var(--toggle-bg);
  border: 1px solid var(--toggle-border);
  border-radius: var(--radius-full);
  font-size: var(--icon-base);
  transition-property: color, background-color;
  transition-duration: 200ms;
}

button.has-icon:hover {
  color: var(--toggle-fg-hover);
  background-color: var(--toggle-bg-hover);
}
