/* This CSS reset is a combination of styles taken from Andy Bell and Josh Comeau - https://piccalil.li/blog/a-more-modern-css-reset/ + https://www.joshwcomeau.com/css/custom-css-reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
}

/* Set core body defaults */
body {
  --line-height: 1.5;
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1 {
  font-weight: var(--font-bold);
}

h2 {
  font-weight: var(--font-semibold);
}

h3,
h4 {
  font-weight: var(--font-medium);
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Balance text wrapping on headings and paragraphs */
p {
  text-wrap: pretty;
  color: var(--color-text-primary);
  font-family: "Inter";
  font-weight: var(--font-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--color-heading);
  font-family: "Crimson Pro";
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
