:root {
  /* Fluid typography */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);

  /* Fluid space */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* icon sizes */
  --icon-xs: var(--step--1);
  --icon-sm: var(--step-0);
  --icon-base: var(--step-1);
  --icon-lg: var(--step-2);
  --icon-xl: var(--step-3);

  --line-height-none: 1;
  --line-height-1: 1.1;

  /* font-weights */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* colour palette */
  --color-950: rgb(10, 10, 10);
  --color-900: rgb(23 23 23);
  --color-800: rgb(38 38 38);
  --color-700: rgb(64 64 64);
  --color-600: rgb(82 82 82);
  --color-500: rgb(115 115 115);
  --color-400: rgb(163 163 163);
  --color-300: rgb(212 212 212);
  --color-200: rgb(229 229 229);
  --color-100: rgb(245 245 245);
  --color-50: rgb(250 250 250);

  --green-50: rgb(239, 254, 246);
  --green-100: rgb(219, 253, 235);
  --green-200: rgb(185, 249, 215);
  --green-300: rgb(130, 243, 186);
  --green-400: rgb(68, 228, 147);
  --green-500: rgb(27, 204, 115);
  --green-600: rgb(16, 169, 93);
  --green-700: rgb(17, 132, 75);
  --green-800: rgb(19, 105, 63);
  --green-900: rgb(17, 86, 53);
  --green-950: rgb(3, 48, 28);

  --background: var(--color-50);
  --background-accent: var(--color-100);
  --background-hover: var(--color-200);

  --text: var(--color-950);
  --text-muted: var(--color-900);
  --text-extra-muted: var(--color-700);
  --text-link: var(--green-700);
  --text-link-hover: var(--green-800);
  --text-link-active: var(--green-700);

  /* borders */
  --border-10: rgba(10, 10, 10, 0.1);
  --border-20: rgba(10, 10, 10, 0.2);
  --border-30: rgba(10, 10, 10, 0.3);
  --border-40: rgba(10, 10, 10, 0.4);
  --border-50: rgba(10, 10, 10, 0.5);
  --border-60: rgba(10, 10, 10, 0.6);
  --border-70: rgba(10, 10, 10, 0.7);
  --border-80: rgba(10, 10, 10, 0.8);
  --border-90: rgba(10, 10, 10, 0.9);
  --border-95: rgba(10, 10, 10, 0.95);

  /* border radius  */
  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;

  /* shadows */
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

:root[data-theme="dark"] {
  --background: var(--color-950);
  --background-accent: var(--color-950);
  --background-hover: var(--color-900);

  --text: var(--color-50);
  --text-muted: var(--color-400);
  --text-extra-muted: var(--color-700);
  --text-link: var(--green-500);
  --text-link-hover: var(--green-700);
  --text-link-active: var(--green-500);

  --border-10: rgba(245, 245, 245, 0.2);
}
