.italic {
  font-style: italic;
}

.underline {
  text-decoration-line: underline;
  text-decoration-thickness: var(--underline);
  text-underline-offset: 0.375rem;
}

.lead {
  font-size: var(--step-0);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide {
  display: none;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
