.content-container {
  width: 100%;
  margin-inline: auto;
  max-width: 60ch;
  padding-inline: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.italic {
  font-style: italic;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 5rem;
}

.px-1 {
  padding-inline: 1rem;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.object-cover {
  object-fit: cover;
}

.shadow-sm {
  box-shadow: var(--shadow-sm);
}

.rounded-md {
  border-radius: var(--radius-md);
}

.rounded-full {
  border-radius: 100%;
}

.lead {
  font-size: var(--step-1);
  font-weight: var(--font-medium);
  line-height: 1.1;
  color: var(--text-muted) !important;
}
