.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-2 {
  overflow: hidden;
  max-height: calc(var(--line-height) * 2);
  /* fallback - 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3 {
  overflow: hidden;
  max-height: calc(var(--line-height) * 3);
  /* fallback - 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hide {
  display: none;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.toc-h1 {
  font-size: 1em;
  font-weight: var(--font-semibold);
  color: var(--color-text-primary);
  margin-block: 0.75em 0.5em;
}

.toc-h1:first-child {
  margin-block-start: 0;
}

.toc-h2 {
  font-size: 0.9em;
  font-weight: var(--font-medium);
  padding-inline-start: 0.75rem;
}

.toc-h3 {
  font-size: 0.85em;
  font-weight: var(--font-normal);
  padding-inline-start: 1.5rem;
  opacity: 0.75;
}

.no-scroll {
  overflow: hidden;
}

.italic {
  font-style: italic;
}
