.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate-2 {
  overflow: hidden;
  max-height: calc(var(--line-height) * 2);
  /* fallback - 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-3 {
  overflow: hidden;
  max-height: calc(var(--line-height) * 3);
  /* fallback - 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.hide {
  display: none;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
