.italic {
  font-style: italic;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide {
  display: none;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
