.external-link {
  color: var(--text-accent);
  text-underline-offset: 2px;
  font-style: italic;
  font-weight: 400;
}

/* Containers */
/* .page-container {
  margin-inline: auto;
  width: 100%;
  max-width: 1280px;
  padding: 66px 16px 0px 16px;

  min-height: calc(100dvh - 106px);
} */

.container {
  width: 100%;
  max-width: 1280px;
  padding-inline: 16px;
  margin-inline: auto;
}
@media (min-width: 1280px) {
  .container {
    padding-inline: 32px;
  }
}
