<h1 class="text-gradient"><slot /></h1>

<style>
  h1 {
    font-family: 'Söhne';
    font-weight: 800;
    font-size: var(--text-4xl);
    line-height: 1.1;
  }

  @media (min-width: 1280px) {
    h1 {
      font-size: var(--text-6xl);
    }
  }
</style>
