---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="CSS in JavaScript">
  <h1>CSS in JavaScript</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod pariatur, est recusandae dolore eligendi itaque
    quisquam doloremque error quas cumque beatae fuga ipsa, fugit neque molestias laborum culpa mollitia eius.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur atque, omnis incidunt nihil optio dignissimos
    soluta aliquid obcaecati harum vel. Dicta commodi est odio placeat fuga laudantium natus veritatis tempora.
  </p>
</BaseLayout>
