---
import BaseLayout from '../layouts/BaseLayout.astro';
import Divider from '../components/ui/Divider.astro';
import { articles } from '../data/blog-posts';
import PreviewCard from '../components/ui/PreviewCard.astro';
---

<BaseLayout pageTitle="Home">
  <div class="slot slot-container">
    <aside class="aside-left-container desktop-only">
      <div class="aside-left-header">
        <h3>Articles</h3>
        <!-- <Divider marginTop="0.5rem" /> -->
      </div>
      <nav class="aside-left-content">
        <ul>
          {
            articles.map(article => (
              <a href={`/${article.slug}`}>
                <li>
                  <p>
                    {article.title}
                    <span class="article-date">{article.updatedAt || article.createdAt}</span>
                  </p>
                </li>
              </a>
            ))
          }
        </ul>
      </nav>
    </aside>

    <main class="main-container">
      <div class="main-content container">
        <h1>Main</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa reiciendis adipisci odit id distinctio modi
          voluptas rerum dolor eos nam, ex exercitationem at iusto! Repellat alias ea molestiae. Maiores, itaque!
        </p>
      </div>
      <aside class="aside-right-container">
        <div class="aside-right-header">
          <h3>Recent articles</h3>
        </div>
        <div class="aside-right-content container">
          {
            articles.map((article, index) => {
              // if (index > 3) return;
              return <PreviewCard {...article} />;
            })
          }
        </div>
      </aside>
    </main>
  </div>
</BaseLayout>

<style>
  .slot-container {
    display: grid;
  }

  @media (min-width: 1280px) {
    .slot-container {
      grid-template-columns: repeat(12, 1fr);
    }

    .aside-left-container {
      grid-column: 1 / 4;
      display: grid;
      grid-template-rows: min-content auto;
      border-right: 1px solid var(--border-50);
      background-color: var(--background-aside-left);
    }

    .aside-left-content {
      ul {
        a {
          display: block;
          color: var(--text);
          text-decoration: none;
          transition: background-color 0.2s ease;

          li {
            padding: 1rem;
          }

          p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            font-weight: var(--font-medium);
          }
        }

        a:hover {
          background-color: var(--background-hover);
        }

        a:active {
          background-color: var(--background-active);
        }
      }
    }

    .aside-left-header,
    .aside-right-header {
      padding-inline: 1rem;
      margin-top: 2rem;
      padding-bottom: 0.5rem;
    }

    .main-container {
      position: relative;
      grid-column: 4 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .main-content {
        padding-top: 1rem;
        grid-column: 1 / 10;
        border-right: 1px solid var(--border-50);
      }

      .aside-right-container {
        position: sticky;
        height: 100%;
        overflow-y: scroll;
        grid-column: 10 / 13;
        display: grid;
        grid-template-rows: min-content auto;
      }

      .aside-right-content {
        display: grid;
        row-gap: 2rem;
        margin-block: 1.5rem;
      }
    }
  }
</style>
