---
import RecentPost from "@components/ui/RecentPost.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout
  pageTitle="Matt Millard"
  pageDescription="Hi, I'm Matt Millard. I build for the web and share what I learn along the way."
>
  <h1>
    Hi, I'm Matt Millard. I build for the web and share what I learn along the
    way.
  </h1>

  <section class="flow">
    <h2>About me</h2>

    <p>
      I'm a junior developer who's always building something. Right now I've got
      a few full-stack apps live, like
      <a href="https://notely.ca" target="_blank" rel="noopener noreferrer"
        >Notely</a
      >
      and <a
        href="https://mattmillard.photography"
        target="_blank"
        rel="noopener noreferrer">my photography site</a
      >. I also help co-organize <a
        href="https://forwardjs.com/"
        target="_blank"
        rel="noopener noreferrer"
        >ForwardJS Ottawa
      </a>, a popular local meetup where developers get together every month. So
      if you're in Ottawa, come along and say hi!
    </p>
  </section>

  <section class="flow">
    <h2>Recent Posts</h2>
    <div class="stack-lg">
      {
        posts.map((post) => {
          return <RecentPost post={post} />;
        })
      }
    </div>
  </section>
</BaseLayout>
