---
import RecentPost from "@components/ui/RecentPost.astro";
import Divider from "@components/ui/Divider.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<BaseLayout
  pageTitle="Welcome"
  pageDescription="Hey, I'm Matt and welcome to my web development blog."
>
  <div class="flow">
    <h1>
      I build things on the web and write about what I learn along the way.
    </h1>
    <section class="recent-posts stack-lg">
      <h2>Recent Posts</h2>
      {
        posts.map((post) => {
          return <RecentPost post={post} />;
        })
      }
      <Divider />
    </section>
  </div>
</BaseLayout>

<style>
  .recent-posts {
    --flow-space: 3rem;
    --space: 3rem;
  }
</style>
