---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="page-container">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem enim iure architecto perspiciatis fugiat
      deserunt minus repudiandae accusantium recusandae quo, error magnam officia qui. Incidunt molestias eaque
      inventore fugit dolorem.
    </h1>
  </div>
</BaseLayout>

<style></style>
