---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="page-container">
    <h1>Lorem Ipsum</h1>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
    <h3>Impedit facilis sapiente libero quidem</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
    <h3>Impedit facilis sapiente libero quidem</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis sapiente libero quidem, quae quibusdam
      facere labore ipsa ipsum est, reiciendis illum, magnam nemo dicta enim. Non provident blanditiis dolores.
    </p>
  </div>
</BaseLayout>

<style></style>
