---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Home';
---

<BaseLayout pageTitle={pageTitle}>
  <h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam est, distinctio autem aspernatur, veniam quia
    cum sint excepturi magni ab iste, vero vitae. Error nulla optio, suscipit non voluptatibus voluptatum.
  </h1></BaseLayout
>

<style></style>
