---
import BaseLayout from '../layouts/BaseLayout.astro';
import { blogPosts } from '../data/blog-posts';
---

<BaseLayout pageTitle="Home">
  <div class="slot slot-container">
    <aside class="aside-left-container desktop-only">
      <div class="aside-left-header">
        <h2>Posts</h2>
      </div>
      <nav class="aside-left-content">
        <ul>
          {
            blogPosts.map(post => (
              <a href={`/${post.slug}`}>
                <li>
                  <p>{post.title}</p>
                </li>
              </a>
            ))
          }
        </ul>
      </nav>
    </aside>

    <main class="main-container">
      <div class="main-content container">
        <h1>Main</h1>
      </div>
      <div class="aside-right-content container">
        <aside class="aside-right-header">
          <h3>Recent posts</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sed libero. Tempore fuga assumenda, nihil
            voluptates quas repellendus at voluptate esse! Est quas accusamus eum. Dolor minus est blanditiis dolorem!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sed libero. Tempore fuga assumenda, nihil
            voluptates quas repellendus at voluptate esse! Est quas accusamus eum. Dolor minus est blanditiis dolorem!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sed libero. Tempore fuga assumenda, nihil
            voluptates quas repellendus at voluptate esse! Est quas accusamus eum. Dolor minus est blanditiis dolorem!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sed libero. Tempore fuga assumenda, nihil
            voluptates quas repellendus at voluptate esse! Est quas accusamus eum. Dolor minus est blanditiis dolorem!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, sed libero. Tempore fuga assumenda, nihil
            voluptates quas repellendus at voluptate esse! Est quas accusamus eum. Dolor minus est blanditiis dolorem!
          </p>
        </aside>
      </div>
    </main>
  </div>
</BaseLayout>

<style>
  .slot-container {
    display: grid;
  }

  @media (min-width: 1280px) {
    .slot-container {
      grid-template-columns: repeat(12, 1fr);
    }

    .aside-left-container {
      grid-column: 1 / 4;

      padding-top: 1rem;
      display: grid;
      grid-template-rows: 3rem auto;
      border-right: 1px solid var(--border-50);
    }

    .aside-left-content {
      ul {
        a {
          display: block;
          margin-bottom: 1rem;
          color: var(--text);
          text-decoration: none;
          transition: background-color 0.2s ease;

          li {
            padding: 0.5rem 1rem;
          }

          p {
            font-size: var(--text-lg);
            font-weight: var(--font-medium);
          }
        }

        a:hover {
          background-color: var(--background-hover);
        }
      }
    }

    .aside-left-header,
    .aside-right-header {
      align-content: center;
      padding-left: 1rem;
    }

    .main-container {
      grid-column: 4 / 13;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .main-content {
        padding-top: 1rem;
        grid-column: 1 / 10;
        /* border-right: 1px solid var(--border-50); */
      }

      .aside-right-content {
        background-color: var(--background-aside-right);
        border-left: 1px solid var(--border-50);
        padding-top: 1rem;
        grid-column: 10 / 13;
        display: grid;
        grid-template-rows: 3rem auto;
      }
    }
  }
</style>
