---
import RecentPost from "@components/ui/RecentPost.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { sortPostsByDate } from "@utils/sort-posts-by-date";
import ExternalLink from "@components/ui/ExternalLink.astro";

const posts = await getCollection("blog");
const sortedPosts = sortPostsByDate(posts);
const mostRecentPosts = sortedPosts.slice(0, 4); // Limit 4
---

<BaseLayout
  pageTitle="Blog"
  pageDescription="Hi, I'm Matt Millard. I build for the web and share what I learn along the way."
>
  <section class="hero">
    <img
      src="https://res.cloudinary.com/hospohub/image/upload/v1763658826/matt_millard_headshot_giulia_qs5lj3.jpg"
      alt="Matt Millard"
      srcset=""
    />
    <h1>
      Hi, I'm Matt. I build for the web and share what I learn along the way.
    </h1>
  </section>

  <section class="about-me flow">
    <h2>About me</h2>

    <p>
      I'm a junior developer who's always building something. Right now I've got
      a few full-stack apps live, like
      <ExternalLink url="https://notely.ca" text="Notely" />
      and
      <ExternalLink
        url="https://mattmillard.photography"
        text="my photography site"
      />. I also help co-organize
      <ExternalLink url="https://forwardjs.com/" text="ForwardJS Ottawa" />, a
      popular local meetup where developers get together every month. If you're
      in Ottawa, come along and say hi!
    </p>

    <p>
      At the moment, I'm currently looking for junior developer or internship
      opportunities. If you think I'd be a great fit for your team, I'd love to
      hear from you!
    </p>
    <a
      href="https://res.cloudinary.com/hospohub/image/upload/v1761833724/matthew_millard_resume_2025_wub2nh.pdf"
      download="matthew_millard_cv_2025"
      target="_blank"
      rel="noopener noreferrer"
      class="btn"
    >
      Download CV
    </a>
  </section>

  <section class="recent-posts flow">
    <h2>Recent Posts</h2>
    <div class="recent-post-list stack-lg">
      {
        mostRecentPosts.length > 0 ? (
          mostRecentPosts.map((post) => {
            return <RecentPost post={post} />;
          })
        ) : (
          <p>There are currently no posts</p>
        )
      }
    </div>
  </section>
</BaseLayout>

<style>
  .hero {
    margin-block-start: 1.5em;
  }

  .about-me {
    --flow-space: 1em;
  }

  .recent-post-list {
    margin-block-start: 2rem;
    --space: 3rem;
  }

  img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-full);
    border: 2px solid var(--color-border);
    box-shadow: var(--shadow-sm);
    background-color: var(--color-bg);
  }

  h1 {
    margin-block-start: 1rem;
  }

  @media (min-width: 90rem) {
    .hero {
      margin-block-start: 3rem;
    }

    h1 {
      margin-block-start: 2rem;
    }
  }
</style>
