---
import RecentPost from "@components/ui/RecentPost.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { sortPostsByDate } from "@utils/sort-posts-by-date";

const posts = await getCollection("blog");
const sortedPosts = sortPostsByDate(posts);
const mostRecentPosts = sortedPosts.slice(0, 4); // Limit 4
---

<BaseLayout
  pageTitle="Blog"
  pageDescription="Hi, I'm Matt Millard. I build for the web and share what I learn along the way."
>
  <h1>
    Hi, I'm Matt. I build for the web and share what I learn along the way.
  </h1>

  <section class="about-me flow">
    <h2>About me</h2>

    <p>
      I'm a junior developer who's always building something. Right now I've got
      a few full-stack apps live, like
      <a href="https://notely.ca" target="_blank" rel="noopener noreferrer"
        >Notely</a
      >
      and
      <a
        href="https://mattmillard.photography"
        target="_blank"
        rel="noopener noreferrer">my photography site</a
      >. I also help co-organize
      <a href="https://forwardjs.com/" target="_blank" rel="noopener noreferrer"
        >ForwardJS Ottawa</a
      >, a popular local meetup where developers get together every month. If
      you're in Ottawa, come along and say hi!
    </p>

    <p>
      I'm currently looking for junior developer or internship opportunities. If
      you think I'd be a great fit for your team, I'd love to hear from you!
    </p>
    <a
      href="https://res.cloudinary.com/hospohub/image/upload/v1761833724/matthew_millard_resume_2025_wub2nh.pdf"
      download="matthew_millard_cv_2025"
      target="_blank"
      rel="noopener noreferrer"
      class="btn"
    >
      Download CV
    </a>
  </section>

  <section class="flow">
    <h2>Recent Posts</h2>
    <div class="stack-lg">
      {
        mostRecentPosts.length > 0 ? (
          mostRecentPosts.map((post) => {
            return <RecentPost post={post} />;
          })
        ) : (
          <p>There are currently no posts</p>
        )
      }
    </div>
  </section>
</BaseLayout>

<style>
  .about-me {
    --flow-space: 1em;
  }
</style>
