---
import NewLayout from '../layouts/NewLayout.astro';
---

<NewLayout pageTitle="Home">
  <div class="slot slot-container">
    <aside class="desktop-only aside-container">
      <h3>Aside</h3>
    </aside>
    <main class="main-container">
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
      <h1>Main</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quisquam cupiditate, maiores soluta neque quasi
        hic! Temporibus eaque tempore sed repellendus, a, quo nobis inventore tenetur, placeat deleniti possimus fugiat.
      </p>
    </main>
  </div>
</NewLayout>
