---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Welcome">
  <h1>Welcome to my blog</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, impedit dignissimos blanditiis odio tenetur eos
    dicta adipisci ab ut consectetur cupiditate libero est atque soluta, error deleniti aspernatur debitis molestiae!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates esse magnam adipisci ipsum in rem veniam,
    ratione error quam magni fugiat consequuntur quasi tempore laborum pariatur delectus aut, perferendis obcaecati.
  </p>
</BaseLayout>
