---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Welcome">
  <main id="main" class="[ main ] [ flow container pt-2 ]">
    <h1>Welcome To My Blog</h1>
    <img
      class="[ object-cover aspect-square ]"
      src="https://res.cloudinary.com/hospohub/image/upload/c_crop,ar_1:1/v1729704810/users/cm27tzxle0002yx7r6g70j3m9/images/nfxwdzz4wzqlfewpzrsf.jpg"
      alt="Matt Millard"
    />
    <p class="[ text-medium text-muted text-xl line-height-1 ]">
      I'm excited to start share with you my technical insights and guides on all things web development.
    </p>
    <p class="description">
      The purpose of this blog is to document my coding journey and share the insights and solutions I've picked up
      along the way with other developers.
    </p>
  </main>
</BaseLayout>

<style>
  @media (min-width: 80rem) {
    main {
      margin-block: 4rem;
    }
  }
</style>
