---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Welcome"
  pageDescription="Hey, I'm Matt and welcome to my web development blog."
>
  <h1>Hi I'm Matt, welcome to my coding blog</h1>
</BaseLayout>

<style></style>
