---
import HeaderLayout from '@layouts/HeaderLayout.astro';
import MobileMenu from '@components/ui/MobileMenu.astro';
import '../styles/global.css';
import FooterLayout from '@layouts/FooterLayout.astro';
import SidePanel from '@components/ui/SidePanel.astro';

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <script is:inline>
      const preferredTheme = localStorage.getItem('preferredTheme') || 'light';
      document.documentElement.setAttribute('data-theme', preferredTheme);
    </script>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="page-container">
    <HeaderLayout />
    <MobileMenu />
    <SidePanel />
    <slot />
    <FooterLayout />
  </body>
</html>

<style is:global>
  .page-container {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
  }

  #header {
    grid-row: 1 / 2;
  }

  #side-panel {
    grid-row: 1 / 3;
  }

  #main {
    grid-row: 3 / 4;
  }

  #footer {
    grid-row: 4 / 5;
  }
</style>

<script>
  import '../scripts/theme';
  import '../scripts/mobile-menu';
</script>
