---
import MobileMenu from '../components/ui/MobileMenu.astro';
import '../styles/global.css';
import HeaderLayout from './HeaderLayout.astro';

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <HeaderLayout />
    <MobileMenu />
    <slot />
  </body>
</html>

<style>
  html {
    background: var(--background);
    color: var(--text);
  }
  body {
    position: relative;
  }
</style>

<script>
  import '../scripts/mobile-menu';
</script>
