---
import '../styles/global.css';
import Header from '@components/ui/Header.astro';
import SidePanel from '@components/ui/SidePanel.astro';
import Footer from '@components/ui/Footer.astro';

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <SidePanel />
    <main class="page">
      <div class="content">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  .page {
    padding-block-start: 5rem;
  }

  .content {
    padding-inline: 1rem;
  }

  @media (min-width: 1250px) {
    .page {
      padding-left: 20rem;
    }

    .content {
      padding-inline: 3.5rem;
    }
  }
</style>

<script>
  import '@scripts/side-panel';
</script>
