---
import "../styles/global.css";
import CommonHead from "@components/meta/CommonHead.astro";
import Header from "@components/ui/Header.astro";
import SidePanel from "@components/ui/SidePanel.astro";
import type { InferEntrySchema } from "astro:content";
import BlogNavigation from "@components/ui/BlogNavigation.astro";
import VerticalIconBar from "@components/ui/VerticalIconBar.astro";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
}

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <CommonHead />
    <title>{frontmatter.title} | Matt Millard</title>
    <meta name="description" content={frontmatter.description} />
    <meta name="author" content={frontmatter.author} />
  </head>
  <body>
    <Header />
    <SidePanel />
    <div class="page-container">
      <main class="main flow">
        <slot />
      </main>
      <footer class="footer">
        <BlogNavigation />
      </footer>
    </div>
  </body>
</html>

<style>
  .page-container {
    margin-top: 5rem;
    padding-block: 2em;
    padding-inline: 1rem;
    min-height: calc(100dvh - 5rem);
    display: flex;
    flex-direction: column;
  }

  .main,
  .footer {
    margin-inline: auto;
    width: 100%;
    max-width: 65ch;
  }

  @media (min-width: 78rem) {
    .page-container {
      padding-inline-start: 20rem;
    }
  }
</style>

<script>
  import "@scripts/side-panel";
</script>
