---
import "../styles/global.css";
import CommonHead from "@components/meta/CommonHead.astro";
import Header from "@components/ui/Header.astro";
import SidePanel from "@components/ui/SidePanel.astro";
import type { InferEntrySchema } from "astro:content";
import Pagination from "@components/ui/Pagination.astro";
import TableOfContents from "@components/ui/TableOfContents.astro";
import Footer from "@components/ui/Footer.astro";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
}

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <CommonHead />
    <title>{frontmatter.title} | Matt Millard</title>
    <meta name="description" content={frontmatter.description} />
    <meta name="author" content={frontmatter.author} />
  </head>
  <body>
    <Header />
    <SidePanel />

    <div id="scroll-area" class="page-container">
      <main class="post-container stack-lg">
        <article class="post-content flow">
          <slot />
        </article>
        <Pagination />
      </main>
      <TableOfContents />
    </div>
    <Footer />
  </body>
</html>

<style>
  .page-container {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 75ch);
    padding-inline: 1rem;
  }

  .post-container {
    margin-block-start: 5rem;
  }

  @media (min-width: 90rem) {
    .page-container {
      padding-inline: 2rem;
      padding-left: 10rem;
      grid-template-columns: minmax(75ch, 85ch) 300px;
    }

    .post-content {
      padding-inline: 2rem;
    }
  }
</style>

<script>
  import "@scripts/hide-header-on-scroll";
</script>
