---
import "../styles/global.css";
import CommonHead from "@components/meta/CommonHead.astro";
import Header from "@components/ui/Header.astro";
import SidePanel from "@components/ui/SidePanel.astro";
import type { InferEntrySchema } from "astro:content";
import BlogNavigation from "@components/ui/BlogNavigation.astro";
import VerticalIconBar from "@components/ui/VerticalIconBar.astro";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
}

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <CommonHead />
    <title>{frontmatter.title} | Matt Millard</title>
    <meta name="description" content={frontmatter.description} />
    <meta name="author" content={frontmatter.author} />
  </head>
  <body>
    <Header />
    <SidePanel />
    <div class="page">
      <div class="content-wrapper">
        <main class="main-container prose flow">
          <slot />
        </main>

        <VerticalIconBar />
      </div>
      <footer>
        <BlogNavigation />
      </footer>
    </div>
  </body>
</html>

<script>
  import "@scripts/side-panel";
</script>
