---
import "../styles/global.css";
import CommonHead from "@components/meta/CommonHead.astro";
import Header from "@components/ui/Header.astro";
import SidePanel from "@components/ui/SidePanel.astro";
import type { InferEntrySchema } from "astro:content";
import Pagination from "@components/ui/Pagination.astro";
import TableOfContents from "@components/ui/TableOfContents.astro";

interface Props {
  frontmatter: InferEntrySchema<"blog">;
}

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <CommonHead />
    <title>{frontmatter.title} | Matt Millard</title>
    <meta name="description" content={frontmatter.description} />
    <meta name="author" content={frontmatter.author} />
  </head>
  <body>
    <Header />
    <SidePanel />
    <div class="page-container">
      <div id="scroll-area" class="post-grid">
        <main class="post-content stack-lg">
          <article class="flow">
            <slot />
          </article>
          <footer>
            <Pagination />
          </footer>
        </main>
        <TableOfContents />
      </div>
    </div>
  </body>
</html>

<style>
  .page-container {
    padding-block-start: 5rem;
    padding-inline: 1rem;
  }

  .post-grid {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 75ch);
    /* background-color: lightsalmon; */
  }

  @media (min-width: 90rem) {
    .page-container {
      padding-inline: 2rem;
      /* background-color: lightgoldenrodyellow; */
    }

    .post-grid {
      grid-template-columns: minmax(60ch, 75ch) minmax(250px, 300px);
      padding-left: 20rem;
      gap: 5rem;
    }
  }

  article {
    /* background-color: lightskyblue; */
  }
</style>

<script>
  import "@scripts/hide-header-on-scroll";
  import "@scripts/side-panel";
</script>
