---
import { Icon } from 'astro-icon/components';
---

<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <p class="external-link-group">
        Made by me with <a
          href="https://astro.build/"
          target="_blank"
          referrerpolicy="no-referrer"
          class="external-link">Astro</a
        >
        .
      </p>
      <p class="external-link-group">
        Deployed on <a
          href="https://www.netlify.com/"
          target="_blank"
          referrerpolicy="no-referrer"
          class="external-link">Netlify</a
        >
        .
      </p>
      <p class="external-link-group">
        Code on <a
          href="https://github.com/matthew-millard/astro-tutorial"
          target="_blank"
          referrerpolicy="no-referrer"
          class="external-link github">Github <Icon name="external-link" /></a
        >
        .
      </p>
    </div>
    <p id="copyright-notice">All rights reserved &copy; Matt Millard 2025</p>
  </div>
</footer>

<style>
  footer {
    background-color: var(--background-footer);
    border-top: 1px solid var(--border-50);
  }

  .footer-container {
    padding-block: 1rem;
  }

  .footer-content {
    margin-bottom: 0.125rem;
  }

  .external-link-group {
    font-size: var(--text-sm);
  }

  #copyright-notice {
    font-size: var(--text-xs);
    color: var(--text-muted);
  }

  @media (min-width: 1280px) {
    .footer-content {
      display: flex;
      gap: 0.18rem;
    }
  }
</style>
