---
import Logo from '../components/ui/Logo.astro';
---

<header>
  <div class="container">
    <Logo />
  </div>
</header>

<style>
  header {
    position: sticky;
    height: 64px;
    display: flex;
    align-items: center;

    background-color: var(--secondary-30);
    box-shadow: var(--shadow-xs);
    transition: transform 0.3s ease-out;
  }

  header.hide {
    transform: translateY(-100%);
  }
</style>

<script>
  const document = window.document;
  const header = document.querySelector('header');
  let previousScrollY = window.scrollY;

  function handleScroll() {
    const currentScrollY = window.scrollY;

    if (currentScrollY > previousScrollY) {
      // Scrolling down
      header?.classList.add('hide');
    } else if (currentScrollY < previousScrollY) {
      // Scrolling up
      header?.classList.remove('hide');
    }

    previousScrollY = currentScrollY;
  }

  document.addEventListener('scroll', () => {
    requestAnimationFrame(handleScroll);
  });
</script>
