---
import Logo from '../components/ui/Logo.astro';
import DesktopNavigation from '../components/ui/DesktopNavigation.astro';
import Button from '../components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
---

<header id="header" class="header">
  <div class="container">
    <nav>
      <Logo />
      <Button id="open-mobile-menu-button" variant="ghost" size="icon">
        <Icon name="panel-left-open" />
      </Button>
      <DesktopNavigation />
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid var(--border-10);
    box-shadow: var(--shadow-xs);
    transition: transform 0.2s ease-out;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 1280px) {
    nav {
      justify-content: start;
    }
  }

  header[data-hidden='true'] {
    transform: translateY(-100%);
  }
</style>

<script>
  const document = window.document;
  const header = document.querySelector('#header');

  let previousScrollY = window.scrollY;
  let isProgrammaticScroll = false;

  function handleScroll() {
    if (isProgrammaticScroll) {
      isProgrammaticScroll = false;
      return;
    }

    // const SCROLL_THRESHOLD = 0;
    const currentScrollY = window.scrollY;
    const scrollDifference = Math.abs(currentScrollY - previousScrollY);

    if (currentScrollY > previousScrollY) {
      // Scrolling down
      header?.setAttribute('data-hidden', 'true');
    } else if (currentScrollY < previousScrollY) {
      // Scrolling up
      header?.removeAttribute('data-hidden');
    }

    previousScrollY = currentScrollY;
  }

  document.addEventListener('scroll', () => {
    requestAnimationFrame(handleScroll);
  });

  // Listen for mobile menu close
  document.addEventListener('mobileMenuClosed', () => {
    isProgrammaticScroll = true;
  });
</script>
