---
import Logo from '../components/ui/Logo.astro';
import DesktopNavigation from '../components/ui/DesktopNavigation.astro';
import Button from '../components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
---

<header id="header" class="header">
  <div class="container">
    <nav>
      <Logo />
      <Button id="open-mobile-menu-button" variant="ghost" size="icon">
        <Icon name="panel-left-open" />
      </Button>
      <!-- <DesktopNavigation /> -->
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid var(--border-50);
    /* box-shadow: var(--shadow-lg); */
    transition: transform 0.2s ease-out;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header[data-hidden='true'] {
    transform: translateY(-100%);
  }

  @media (min-width: 1280px) {
    nav {
      justify-content: flex-start;
    }
  }
</style>

<script>
  import '../scripts/hide-header-on-scroll';
</script>
