---
import Logo from '../components/ui/Logo.astro';
import DesktopNavigation from '../components/ui/DesktopNavigation.astro';
import Button from '../components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
import ThemeToggle from '../components/ui/ThemeToggle.astro';
---

<header id="header" class="header">
  <div class="container">
    <nav>
      <Logo />
      <div class="header-buttons">
        <ThemeToggle />
        <Button id="open-mobile-menu-button" variant="ghost" size="icon">
          <Icon name="panel-left-open" />
        </Button>
      </div>
      <!-- <DesktopNavigation /> -->
    </nav>
  </div>
</header>

<style>
  header {
    position: fixed;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(16px);
    /* border-bottom: 1px solid var(--border-50); */
    box-shadow: var(--shadow-sm);
    transition: transform 0.2s ease-out;
    z-index: 50;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.125rem;
  }

  header[data-hidden='true'] {
    transform: translateY(-100%);
  }
</style>

<script>
  import '../scripts/hide-header-on-scroll';
</script>
