---
import Logo from '../components/ui/Logo.astro';
import DesktopNavigation from '../components/ui/DesktopNavigation.astro';
import Button from '../components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
---

<header>
  <div class="container">
    <nav>
      <Logo />
      <Button id="open-mobile-menu-button" variant="ghost" size="icon">
        <Icon name="panel-left-open" />
      </Button>
      <DesktopNavigation />
    </nav>
  </div>
</header>

<style>
  header {
    position: sticky;
    height: 64px;
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid var(--border-10);
    box-shadow: var(--shadow-xs);
    transition: transform 0.2s ease-out;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  header.hide {
    transform: translateY(-100%);
  }
</style>

<script>
  const document = window.document;
  const header = document.querySelector('header');

  let previousScrollY = window.scrollY;

  function handleScroll() {
    const currentScrollY = window.scrollY;

    if (currentScrollY > previousScrollY) {
      // Scrolling down
      header?.classList.add('hide');
    } else if (currentScrollY < previousScrollY) {
      // Scrolling up
      header?.classList.remove('hide');
    }

    previousScrollY = currentScrollY;
  }

  document.addEventListener('scroll', () => {
    requestAnimationFrame(handleScroll);
  });
</script>
