---
import Logo from '../components/ui/Logo.astro';
import Hamburger from '../components/ui/Hamburger.astro';
import DesktopNavigation from '../components/ui/DesktopNavigation.astro';
---

<header>
  <div class="container">
    <nav>
      <Logo />
      <!-- set to hide at large viewports -->
      <div id="hamburger-container">
        <Hamburger />
      </div>
      <!-- set to show at large viewports -->
      <div id="navigation-container">
        <DesktopNavigation />
      </div>
    </nav>
  </div>
</header>

<style>
  header {
    position: sticky;
    height: 64px;
    display: flex;
    align-items: center;

    background-color: var(--secondary-30);
    box-shadow: var(--shadow-xs);
    transition: transform 0.3s ease-out;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  header.hide {
    transform: translateY(-100%);
  }

  @media (min-width: 1280px) {
    #hamburger-container {
      display: none;
    }
  }

  @media (max-width: 1279px) {
    #navigation-container {
      display: none;
    }
  }
</style>

<script>
  const document = window.document;
  const header = document.querySelector('header');
  const hamburgerButton = document.querySelector('#hamburger');
  let previousScrollY = window.scrollY;

  function handleScroll() {
    const currentScrollY = window.scrollY;

    if (currentScrollY > previousScrollY) {
      // Scrolling down
      header?.classList.add('hide');
    } else if (currentScrollY < previousScrollY) {
      // Scrolling up
      header?.classList.remove('hide');
    }

    previousScrollY = currentScrollY;
  }

  function handleClick() {
    console.log('clicked');
  }

  document.addEventListener('scroll', () => {
    requestAnimationFrame(handleScroll);
  });

  hamburgerButton?.addEventListener('click', handleClick);
</script>
