---
interface Props {
  type: 'submit' | 'button' | 'reset';
  variant: 'default' | 'ghost' | 'secondary' | 'outline';
}

const { type, variant } = Astro.props;
---

<button type={type}><slot /> </button>

<style>
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;

    padding: 6px;
    border-radius: var(--radius);

    color: var(--foreground);
    background: none;
  }

  button:hover {
    background: var(--secondary-10);
    border: 1px solid var(--border);
  }
</style>
