---
interface Props {
  id?: string;
  type?: 'button' | 'submit' | 'reset';
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost';
}

const { id, type = 'button', variant = 'primary' } = Astro.props;

const classVariants = {
  primary: 'primary',
  ghost: 'ghost',
  secondary: 'secondary',
  outline: 'outline',
};
---

<button type={type} id={id} class={classVariants[variant]}>
  <slot />
</button>

<style>
  button {
  }

  .primary {
    background-color: var(--primary);
  }

  .secondary {
    background-color: var(--secondary);
  }

  .ghost {
    background-color: transparent;
  }

  .outline {
    background-color: transparent;
  }
</style>
