---
interface Props {
  type?: 'button' | 'submit' | 'reset';
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost' | 'hamburger';
}

const { type = 'button', variant = 'primary' } = Astro.props;

const classVariants = {
  primary: 'primary',
  ghost: 'ghost',
  secondary: 'secondary',
  outline: 'outline',
  hamburger: 'hamburger',
};
---

<button type={type} class={classVariants[variant]}>
  <slot />
</button>

<style>
  button {
  }

  .primary {
    background-color: var(--primary);
  }

  .secondary {
    background-color: var(--secondary);
  }

  .ghost {
    background-color: transparent;
  }

  .outline {
    background-color: transparent;
  }

  .hamburger {
    display: grid;
    padding: 4px;
    color: var(--accent);
    background-color: var(--background);
    border: 1px solid var(--accent-30);
    border-radius: var(--radius);
    box-shadow: var(--shadow-xs);
  }
</style>
