---
interface Props {
  id?: string;
  type?: 'button' | 'submit' | 'reset';
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost';
  size?: 'icon';
}

const { id, type = 'button', variant = 'primary', size = 'icon' } = Astro.props;

const classVariants = {
  primary: 'primary',
  ghost: 'ghost',
  secondary: 'secondary',
  outline: 'outline',
};

const sizeVariants = {
  icon: 'icon',
};
---

<button type={type} id={id} class={`${classVariants[variant]} ${sizeVariants[size]}`}>
  <slot />
</button>

<style>
  button {
    padding: 8px;
    transition: all 0.2s ease;
  }

  .primary {
    background-color: var(--primary);
  }

  .secondary {
    background-color: var(--secondary);
  }

  .ghost {
    background-color: transparent;
    border: none;
    border-radius: 100px;
  }

  .ghost:hover {
    background-color: var(--border-10);
  }

  .ghost:active {
    background-color: var(--border-20);
  }

  .outline {
    background-color: transparent;
  }

  .icon {
    display: grid;
    font-size: var(--icon-lg);
  }
</style>
