---
interface Props {
  type?: 'submit' | 'button' | 'reset';
  variant: 'default' | 'ghost' | 'secondary' | 'outline';
}

const { type, variant } = Astro.props;
---

<button type={type ? type : 'button'}><slot /> </button>

<style>
  button {
    display: grid;
    padding: 12px;
    font-weight: 500;
    min-width: 0;
    max-width: fit-content;
    background-color: var(--primary);
    color: var(--primary-foreground);
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    box-shadow: var(--shadow-lg);
  }
</style>
