---
interface Props {
  id?: string;
  type?: 'button' | 'submit' | 'reset';
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost';
  size?: 'icon';
}

const { id, type = 'button', variant = 'primary', size = 'icon' } = Astro.props;

const classVariants = {
  primary: 'primary',
  ghost: 'ghost',
  secondary: 'secondary',
  outline: 'outline',
};

const sizeVariants = {
  icon: 'icon',
};
---

<button type={type} id={id} class={`${classVariants[variant]} ${sizeVariants[size]}`}>
  <slot />
</button>

<style>
  button {
    padding: 0.62rem;
    transition: all 0.2s ease;
    cursor: pointer;
  }

  .primary {
  }

  .secondary {
  }

  .ghost {
    background-color: transparent;
    border: none;
    border-radius: 100px;
  }

  .ghost:hover {
    color: var(--text);
    background-color: var(--background-hover);
  }

  .ghost:active {
    color: var(--text);
    background-color: var(--background-active);
  }

  .outline {
    background-color: transparent;
  }

  .icon {
    display: grid;
    font-size: var(--icon-base);
  }
</style>
