---
import { navigationLinks } from '../../data/navigation';
---

<div id="collapsed-mobile-menu">
  <ul>
    {
      navigationLinks.map(link => (
        <a href={link.url}>
          <li>{link.title}</li>
        </a>
      ))
    }
  </ul>
</div>

<style>
  #collapsed-mobile-menu {
    display: none;
  }
</style>
