---
import { navigationLinks } from '../../data/navigation';
---

<ul>
  {
    navigationLinks.map(link => (
      <a href={link.url}>
        <li>{link.title}</li>
      </a>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    font-weight: var(--font-medium);
    color: var(--text);
    transition: all 0.2s ease;
  }

  a:hover {
    color: var(--text-70);
  }

  @media (max-width: 1279px) {
    ul {
      display: none;
    }
  }
</style>
