---
const links = [{ title: 'Blog', url: '/blog' }];
---

<ul>
  {
    links.map(link => (
      <a href={link.url}>
        <li>{link.title}</li>
      </a>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  a {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: var(--font-medium);
    color: var(--text);
    background-color: var(--secondary-40);
    border-radius: var(--radius);
    box-shadow: var(--shadow-md);
    transition: all 0.2s ease;
  }

  a:hover {
    background-color: var(--secondary-70);
  }
</style>
