---
import { navigationLinks } from '../../data/navigation';
const { pathname } = Astro.url;
---

<ul id="desktop-navigation-links">
  {
    navigationLinks.map(link => {
      return (
        <a href={`/${link.slug}`} aria-current={pathname.slice(1) === link.slug ? 'page' : 'false'}>
          <li>{link.title}</li>
        </a>
      );
    })
  }
</ul>

<style>
  ul {
    display: flex;
    gap: 40px;
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    /* color: var(--text); */
    color: var(--background);
    letter-spacing: -0.25px;
    transition: all 0.2s ease;
  }

  a:hover {
    color: var(--text-hover);
  }

  a:active {
    color: var(--text-active);
  }

  a[aria-current='page'] {
    color: var(--text-accent);
  }
</style>
