---
interface Props {
  marginTop: string;
}

const { marginTop } = Astro.props;
---

<div style={`margin-top: ${marginTop};`}></div>

<style>
  div {
    margin-inline: 1rem;
    border-bottom: 1px solid var(--border-10);
  }
</style>
