---
import { Icon } from "astro-icon/components";

interface Props {
  url: string;
  text: string;
}

const { url, text } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer">
  {text}
  <span class="external-link">
    <Icon name="external-link" />
  </span>
</a>

<style>
  a {
    display: inline-flex;
    align-items: flex-start;
    gap: 0.125em;
  }

  .external-link {
    display: flex;
    font-size: var(--step--1);
  }
</style>
