---
import ThemeToggle from "./ThemeToggle.astro";
import SidePanelToggle from "./SidePanelToggle.astro";
import RSSFeed from "./RSSFeed.astro";
---

<header id="header">
  <div class="repel header-container">
    <SidePanelToggle />
    <nav class="nav">
      <a href="/" aria-current={Astro.url.pathname === "/" ? "page" : "false"}
        >Blog</a
      >
    </nav>
    <div class="btn-group">
      <ThemeToggle />
      <RSSFeed />
    </div>
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    height: var(--header-height);
    padding-inline: 1rem;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
  }

  header[data-hidden="true"] {
    transform: translateY(-100%);
  }

  .nav {
    flex-grow: 1;

    a[aria-current="page"] {
      /* font-weight: var(--font-medium); */
    }
  }

  @media (min-width: 90rem) {
    header {
      padding-inline: 2rem;
    }

    header[data-hidden="true"] {
      /* Prevent hide header on scroll for large viewports */
      transform: none;
    }
  }

  .header-container {
    height: 100%;
    margin-inline: auto;
  }

  .btn-group {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
</style>
