---
import Logo from '@components/ui/Logo.astro';
import Button from '@components/ui/Button.astro';
import { Icon } from 'astro-icon/components';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
  <Logo />

  <div class="button-group">
    <ThemeToggle />
    <Button id="side-panel-button" variant="ghost" data-panel-state="closed">
      <Icon name="panel-left-open" class="panel-open-icon" />
      <Icon name="panel-left-close" class="panel-close-icon" />
    </Button>
  </div>
</header>

<style>
  header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    background-color: var(--background-accent);
    border-bottom: 1px solid var(--border-10);
  }

  .button-group {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .panel-open-icon {
    display: block;
  }

  .panel-close-icon {
    display: none;
  }

  #side-panel-button[data-panel-state='open'] .panel-close-icon {
    display: block;
  }

  #side-panel-button[data-panel-state='open'] .panel-open-icon {
    display: none;
  }

  @media (min-width: 78rem) {
    #side-panel-button {
      display: none;
    }
  }
</style>
