---
import Logo from "@components/ui/Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";
import SidePanelToggle from "./SidePanelToggle.astro";
---

<header>
  <div class="repel header-container">
    <div class="button-group">
      <SidePanelToggle />
      <ThemeToggle />
    </div>
    <Logo />
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    height: var(--header-height);
    padding-inline: 1rem;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
  }

  @media (min-width: 90rem) {
    header {
      padding-inline: 2rem;
    }
  }

  .header-container {
    height: 100%;
    margin-inline: auto;
  }

  .button-group {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
</style>
