<a href="/" class="logo">
  <div class="site-name">mattmillard.dev</div>
  <div>Web Development Blog</div>
</a>

<style>
  .logo {
    display: block;
    color: var(--text);
    font-size: var(--step-1);
    line-height: var(--line-height-1);
    font-weight: var(--font-medium);
  }
  .site-name {
    font-size: var(--step--1);
    font-weight: var(--font-light);
  }
</style>
