<a href="/"><div><span>mattmillard.dev</span>Web Development Blog</div></a>

<style>
  a {
    align-content: center;
    font-family: 'Söhne';
    font-weight: var(--font-bold);
    font-size: var(--text-2xl);
    line-height: 1.1;
    color: var(--text);
    text-decoration: none;
    letter-spacing: -0.05rem;
  }

  span {
    display: block;
    font-size: var(--text-sm);
    font-weight: var(--font-light);
  }

  @media (min-width: 1280px) {
    a {
      line-height: 1;
      font-size: var(--text-3xl);
    }
  }
</style>
