<a href="/">
  <div class="domain-name">
    mattmillard<span class="top-level-domain">.dev</span>
  </div>
</a>

<style>
  .domain-name {
    color: var(--color-text-primary);
    font-size: var(--step-1);
    font-weight: var(--font-black);
    font-family: "Crimson Pro";
  }

  .top-level-domain {
    color: var(--color-accent);
  }
</style>
