<a href="/">mattmillard<span>.dev</span></a>

<style>
  a {
    align-content: center;
    font-family: 'Söhne';
    font-weight: 300;
    font-size: var(--text-lg);
    line-height: 1;
    color: var(--text);
    text-decoration: none;
    letter-spacing: 0.5px;

    span {
      font-weight: 600;
    }
  }

  @media (min-width: 1280px) {
    a {
      font-size: var(--text-xl);
    }
  }
</style>
