<a href="/"><div>Web Development Blog</div></a>

<style>
  a {
    align-content: center;
    font-family: 'Söhne';
    font-weight: var(--font-bold);
    font-size: var(--text-2xl);
    line-height: 1;
    color: var(--text);
    text-decoration: none;
    letter-spacing: -0.05rem;
  }

  @media (min-width: 1280px) {
    a {
      font-size: var(--text-3xl);
    }
  }
</style>
