<div>
  <a href="/">
    <span>by</span>
    <img
      src="https://res.cloudinary.com/hospohub/image/upload/v1762193850/mattmillard_headshot_1x1_1024px.jpg"
      alt="Matt Millard"
      srcset=""
    />
  </a>
</div>

<style>
  a {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    font-family: "Crimson Pro";
    font-size: var(--step-2);
    font-style: italic;
  }
  img {
    width: var(--step-4);
    height: var(--step-4);
    object-fit: cover;
    aspect-ratio: 4 / 5;
    border-radius: var(--radius-full);
    border: 2px solid var(--color-border);
    box-shadow: var(--shadow-sm);
    background-color: var(--color-bg);
  }
</style>
