<a href="/"><div>Matt Millard</div></a>

<style>
  a {
    align-content: center;
    font-family: 'Söhne';
    font-weight: var(--font-semibold);
    letter-spacing: -0.5px;
    font-size: var(--text-lg);
    line-height: 1;
    color: var(--text);
    text-decoration: none;
  }

  @media (min-width: 1280px) {
    a {
      font-size: var(--text-2xl);
    }
  }
</style>
