---
import { navigationLinks } from '../../data/navigation';
import Button from './Button.astro';
import { Icon } from 'astro-icon/components';
const { pathname } = Astro.url;
---

<div id="mobile-menu-overlay" aria-hidden="true"></div>
<div id="mobile-menu">
  <header>
    <Button id="close-mobile-menu-button" variant="ghost" size="icon">
      <Icon name="x" />
    </Button>
  </header>
  <nav>
    <ul>
      {
        navigationLinks.map(link => (
          <a href={`/${link.slug}`}>
            <li aria-current={pathname.slice(1) === link.slug ? 'page' : 'false'}>{link.title}</li>
          </a>
        ))
      }
    </ul>
  </nav>
</div>

<style>
  #mobile-menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 40;
    background-color: var(--overlay-hidden);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease-out,
      visibility 0.2s ease-out;
  }

  #mobile-menu-overlay[aria-hidden='false'] {
    background-color: var(--overlay-visible);
    opacity: 0.5;
    visibility: visible;
  }

  #mobile-menu {
    position: fixed;
    inset: 0;
    z-index: 50;
    width: 0%;
    min-width: 64px;
    margin-left: -64px;
    background-color: var(--background);
    border-right: 1px solid var(--border-70);
    /* box-shadow: var(--shadow-xl); */
    overflow: hidden;
    opacity: 90%;
    max-width: 450px;
  }

  .expanded {
    width: 80% !important;
    margin-left: 0 !important;
    opacity: 100% !important;
  }

  .transition-out {
    transition: all 0.2s ease-out;
  }

  header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 16px;
    height: 64px;
    border-bottom: 1px solid var(--border-50);
  }

  nav {
    font-size: var(--text-4xl);
    font-weight: var(--font-semibold);

    ul {
      list-style: none;
      padding: 0;
    }

    a {
      color: var(--text);
      text-decoration: none;
    }

    li {
      padding: 40px;
    }

    li:active,
    li[aria-current='page'] {
      background-color: var(--background-active);
    }

    li:hover {
      background-color: var(--background-hover);
    }
  }
</style>
