---
import { navigationLinks } from '../../data/navigation';
import CloseButton from './CloseButton.astro';
---

<div id="mobile-menu">
  <header>
    <CloseButton />
  </header>
  <ul>
    {
      navigationLinks.map(link => (
        <a href={link.url}>
          <li>{link.title}</li>
        </a>
      ))
    }
  </ul>
</div>

<style>
  #mobile-menu {
    position: fixed;
    inset: 0;
    z-index: 50;
    width: 0%;
    min-width: 64px;
    margin-left: -64px;
    background-color: var(--secondary);
    border-right: 2px solid var(--text);
    transition: all 0.2s ease-out;
    overflow: hidden;
    opacity: 90%;
  }

  .expanded {
    max-width: 450px;
    width: 80% !important;
    margin-left: 0 !important;
    opacity: 100% !important;
  }

  header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 16px;
    height: 64px;
    box-shadow: var(--shadow-xs);
  }
</style>
