---
import type { Article } from '@data/articles-metadata';
import { Icon } from 'astro-icon/components';
interface Props {
  navigation: {
    isArticlePage: boolean;
    prev: Article;
    next: Article;
    first: boolean;
    last: boolean;
  };
}
const { navigation } = Astro.props;
const { isArticlePage, first, last, next, prev } = navigation;
---

<div class="page-navigation repel">
  {
    isArticlePage && !first && (
      <span>
        <Icon name="arrow-left" class="arrow" />
        <a href={prev?.slug}>{prev?.title}</a>
      </span>
    )
  }

  {
    isArticlePage && !last && (
      <span>
        <a href={next?.slug}>{next?.title}</a>
        <Icon name="arrow-right" class="arrow" />
      </span>
    )
  }
</div>

<style>
  .page-navigation {
    padding-top: 2rem;
    border-top: 1px solid var(--border-10);
  }

  a {
    font-weight: var(--font-medium);
  }

  .arrow {
    vertical-align: -0.17em;
  }
</style>
