---
import TimeAgo from "./TimeAgo.astro";

interface Props {
  post: {
    id: string;
    data: {
      title: string;
      pubDate: Date;
    };
  };
}

const { post } = Astro.props;
---

<a
  href={`/posts/${post.id}`}
  data-title={post.data.title.toLowerCase()}
  data-searchable
  aria-current={Astro.params.slug === post.id ? "page" : "false"}
>
  <p class="post-title truncate">{post.data.title}</p>
  <span class="time-ago-container">
    <TimeAgo pubDate={post.data.pubDate} />
  </span>
</a>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    gap: 1rem;
  }

  a[aria-current="page"] > .post-title {
    color: var(--color-link-active);
    font-weight: var(--font-semibold);
  }

  .post-title {
    min-width: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: var(--step--1);
    transition: color 0.2s;
  }

  .post-title:hover {
    color: var(--color-link-active-hover);
  }

  .time-ago-container {
    flex-shrink: 0;
  }
</style>
