---
import { articles } from '@data/articles-metadata';

const { pathname } = Astro.url;
const currentPath = pathname.slice(1);
console.log('currentPath', currentPath);
---

<aside id="side-panel" class="stack-lg">
  <h3>Articles</h3>
  <ul class="stack-sm">
    {
      articles.map(article => (
        <a href={article.slug} class="article-link" aria-current={currentPath === article.slug ? 'page' : 'false'}>
          <li class="article-title">{article.title}</li>
        </a>
      ))
    }
  </ul>
</aside>

<div id="side-panel-mask"></div>

<style>
  aside {
    position: fixed;
    z-index: 10;
    top: 5rem;
    left: 0;
    bottom: 0;
    width: 20rem;
    overflow-y: auto;
    background-color: var(--background-accent);
    border-right: 1px solid var(--border-10);

    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  aside[side-panel-open] {
    transform: translateX(0%);
  }

  /* Show mask when side panel is open */
  aside[side-panel-open] + #side-panel-mask {
    display: block;
  }

  @media (min-width: 1250px) {
    aside {
      transform: translateX(0%);
    }
  }

  #side-panel-mask {
    z-index: 9;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    inset: 0;
  }

  h3,
  .article-title {
    padding-inline: 1rem;
  }

  .article-title {
    font-size: var(--step-0);
    font-weight: var(--font-normal);
    line-height: 1.3;
    color: var(--text-muted);
  }
  .article-link {
    display: inline-block;
    width: 100%;
    background-color: var(--background-accent);
    border-left: 0.25rem solid transparent;
    transition: all 0.2s ease;
  }

  .article-link:hover {
    background-color: var(--background-hover);
  }

  a[aria-current='page'] {
    border-left-color: var(--text-link-active);
  }

  a[aria-current='page'] .article-title {
    font-weight: var(--font-medium);
    color: var(--text-link-active);
  }
</style>
