---
import { getCollection } from "astro:content";
import SearchInput from "./SearchInput.astro";
import PostLinkItem from "./PostLinkItem.astro";
import { sortPostsByDate } from "@utils/sort-posts-by-date";

const posts = await getCollection("blog").then((posts) =>
  sortPostsByDate(posts)
);
---

<aside id="side-panel">
  <div class="side-panel-container">
    <div class="side-panel-header repel">
      <h2 class="panel-title">Blog Posts</h2>
      <span class="post-count italic">{posts.length} Posts</span>
      <SearchInput placeholder="Search posts..." />
    </div>
    <div id="side-panel-posts" class="side-panel-posts">
      {posts.map((post) => <PostLinkItem post={post} />)}
    </div>
    <p class="no-results" id="no-results" style="display: none;">
      No posts found
    </p>
  </div>
</aside>

<div id="side-panel-mask"></div>

<style>
  aside {
    position: fixed;
    z-index: 80;
    top: 0rem;
    left: 0;
    bottom: 0;
    width: 20rem;
    overflow-y: auto;
    background-color: var(--color-bg);
    border-right: 1px solid var(--color-border);
    padding-top: 5.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 0.5rem;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  aside[side-panel-open] {
    transform: translateX(0%);
  }

  /* Show mask when side panel is open */
  aside[side-panel-open] + #side-panel-mask {
    display: block;
  }

  #side-panel-mask {
    display: none;
    z-index: 50;
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background-color: var(--color-backdrop);
  }

  .side-panel-container {
    height: 100%;
    border-radius: var(--radius-md);
    background-color: var(--surface-bg);
    border: 1px solid var(--color-border);
    box-shadow: var(--shadow-sm);
    padding: 1rem;
  }

  .side-panel-header {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1.5rem;
  }

  .panel-title {
    font-size: var(--step-1);
  }

  .post-count,
  .no-results {
    font-size: var(--step--1);
  }

  .side-panel-posts {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }
</style>
