---
import { articles } from '@data/articles-metadata';
---

<aside id="side-panel">
  <h3>Articles</h3>
  <ul>
    {
      articles.map(article => (
        <a href={article.slug}>
          <li>{article.title}</li>
        </a>
      ))
    }
  </ul>
</aside>

<div id="side-panel-mask"></div>

<style>
  aside {
    position: fixed;
    z-index: 10;
    top: 5rem;
    left: 0;
    bottom: 0;
    width: 20rem;
    overflow-y: auto;
    background-color: var(--background-accent);
    border-right: 1px solid var(--border-10);

    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  aside[side-panel-open] {
    transform: translateX(0%);
  }

  /* Show mask when side panel is open */
  aside[side-panel-open] + #side-panel-mask {
    display: block;
  }

  #side-panel-mask {
    display: none;
    postion: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    z-index: 0;
  }

  h3,
  li {
    padding-inline: 1rem;
  }

  a:first-of-type {
    margin-block-start: 1rem;
  }

  a {
    display: inline-block;
    width: 100%;
  }

  li {
    padding-block: 0.5rem;
  }

  a:hover {
    background-color: var(--background-hover);
  }
</style>
