---
import { getCollection } from "astro:content";
import { timeAgo } from "@utils/time-ago";

const posts = await getCollection("blog").then((posts) =>
  posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
);
---

<aside id="side-panel">
  <ul class="stack-md">
    {
      posts.map((post) => (
        <a
          href={`/posts/${post.id}`}
          class="post-link"
          aria-current={Astro.params.slug === post.id ? "page" : "false"}
        >
          <li class="repel post-title px-1">
            <span class="truncate">{post.data.title}</span>
            <span class="time-ago">{timeAgo(post.data.pubDate)}</span>
          </li>
        </a>
      ))
    }
  </ul>
</aside>

<div id="side-panel-mask"></div>

<style>
  aside {
    position: fixed;
    z-index: 10;
    top: 0rem;
    left: 0;
    bottom: 0;
    width: 20rem;
    overflow-y: auto;
    background-color: var(--background-accent);
    border-right: 1px solid var(--border-10);
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }

  aside[side-panel-open] {
    transform: translateX(0%);
  }

  /* Show mask when side panel is open */
  aside[side-panel-open] + #side-panel-mask {
    display: block;
  }

  @media (min-width: 78rem) {
    aside {
      transform: translateX(0%);
    }
  }

  #side-panel-mask {
    z-index: 9;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    inset: 0;
  }

  .logo-container {
    height: 5rem;
    diplay: flex;
    align-items: center;
    padding-block: 0.75rem;
    padding-inline: 1rem;
  }

  .post-title {
    font-size: var(--step-0);
    font-weight: var(--font-normal);
    line-height: 1.3;
    color: var(--text-muted);
  }

  .post-title .truncate {
    min-width: 0;
    flex: 1;
  }

  .post-title:hover {
    color: var(--text);
  }
  .post-link {
    display: inline-block;
    width: 100%;
    background-color: var(--background-accent);
    border-left: 0.25rem solid transparent;
    transition: all 0.2s ease;
  }

  .post-link:hover {
    background-color: var(--background-hover);
  }

  a[aria-current="page"] {
    border-left-color: var(--text-link-active);
  }

  a[aria-current="page"] .post-title {
    font-weight: var(--font-medium);
    color: var(--text-link-active);
  }
</style>

<script></script>
