---
import { Icon } from "astro-icon/components";
---

<button
  id="side-panel-button"
  data-panel-state="closed"
  aria-label="Toggle side panel"
  class="btn-icon"
>
  <Icon name="panel-left-open" class="panel-open-icon" />
  <Icon name="panel-left-close" class="panel-close-icon" />
</button>

<style>
  .panel-open-icon {
    display: block;
  }

  .panel-close-icon {
    display: none;
  }

  #side-panel-button[data-panel-state="open"] .panel-close-icon {
    display: block;
  }

  #side-panel-button[data-panel-state="open"] .panel-open-icon {
    display: none;
  }
</style>

<script>
  const sidePanelButton = document.querySelector(
    "#side-panel-button"
  ) as HTMLButtonElement;
  const sidePanelEl = document.querySelector("#side-panel") as HTMLDivElement;
  const sidePanelMaskEl = document.querySelector(
    "#side-panel-mask"
  ) as HTMLDivElement;

  export function toggleSidePanel() {
    const isOpen = sidePanelEl.hasAttribute("side-panel-open");
    sidePanelEl.toggleAttribute("side-panel-open");

    if (isOpen) {
      sidePanelButton.setAttribute("data-panel-state", "closed");
      document.body.classList.remove("no-scroll");
    } else {
      sidePanelButton.setAttribute("data-panel-state", "open");
      document.body.classList.add("no-scroll");
    }
  }

  sidePanelButton.addEventListener("click", toggleSidePanel);
  sidePanelMaskEl.addEventListener("click", toggleSidePanel);
</script>
