<aside class="table-of-contents">
  <nav class="toc-nav stack-sm" aria-label="Table of contents">
    <h2 class="toc-heading">Overview</h2>
    <ul id="toc-list"></ul>
  </nav>
</aside>

<style>
  .table-of-contents {
    display: none;
    position: sticky;
    top: 5rem;
    padding-block-start: 1.5em;
  }

  .toc-nav {
    --space: 1em;
    line-height: 1.6;
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
    padding-right: 0.5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-top: var(--space-m);
      padding-left: 0;

      a {
        display: block;
        padding: 0.25rem 0;
        transition: all 0.15s ease;
        color: var(--color-text-muted);
        text-decoration: none;
      }

      a:hover {
        color: var(--color-text-primary);
      }

      a[aria-current="true"] {
        color: var(--color-accent);
      }
    }
  }

  .toc-heading {
    font-size: var(--step-2);
    font-weight: var(--font-medium);
    color: var(--color-text-muted);
  }

  @media (min-width: 90rem) {
    .table-of-contents {
      display: block;
    }
  }
</style>

<script>
  import { generateSlug } from "@utils/generate-slug";
  const articleEl = document.querySelector("article");
  const allHTags = articleEl?.querySelectorAll(
    "h2, h3"
  ) as NodeListOf<HTMLHeadingElement>;
  const ulEl = document?.querySelector("#toc-list") as HTMLUListElement;

  allHTags?.forEach((tag) => {
    if (!tag.textContent) return;

    const id = generateSlug(tag.textContent);
    tag.setAttribute("id", id);

    const liEl = document.createElement("li");
    const aEl = document.createElement("a");

    aEl.href = `#${id}`;
    aEl.textContent = tag.textContent;

    switch (tag.tagName) {
      case "H3": {
        liEl.classList.add("toc-h3");
        break;
      }
      case "H2": {
        liEl.classList.add("toc-h2");
        break;
      }
      default: {
        liEl.classList.add("toc-h1");
      }
    }

    liEl.append(aEl);
    ulEl.append(liEl);
  });

  const options: IntersectionObserverInit = {
    root: null,
    rootMargin: "-30px 0% -77%",
    threshold: [1],
  };

  const observeHTags = new IntersectionObserver((entries) => {
    const allTocLinks = document.querySelectorAll(
      "#toc-list li a"
    ) as NodeListOf<HTMLAnchorElement>;

    console.log("allTocLinks", allTocLinks);
    entries.forEach((entry) => {
      const id = entry.target.getAttribute("id");
      const tocLink = document.querySelector(`#toc-list li a[href="#${id}"]`);

      if (entry.isIntersecting) {
        allTocLinks.forEach((el) => el.removeAttribute("aria-current"));
        tocLink?.setAttribute("aria-current", "true");
      }
    });
  }, options);

  // Track all h2 that have an `id` applied
  allHTags?.forEach((tag) => {
    observeHTags.observe(tag);
  });
</script>
