<aside class="table-of-contents">
  <nav class="toc-nav stack-sm" aria-label="Table of contents">
    <h2 class="toc-heading">Overview</h2>
    <ul id="toc-list"></ul>
  </nav>
</aside>

<style>
  .table-of-contents {
    display: none;
    position: sticky;
    /* background-color: lightpink; */
    padding: 1rem 0.5rem;
    border-left: 1px solid var(--color-border);
    min-height: calc(100vh - var(--header-height));
    top: var(--header-height);
    align-self: start;
  }

  .toc-nav {
    --space: 1em;
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
    padding-inline: 0.5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      a {
        display: block;
        transition: all 0.15s ease;
        color: var(--color-text-muted);
        text-decoration: none;
      }

      a:hover {
        color: var(--color-text-primary);
      }

      a[aria-current="true"] {
        color: var(--color-accent);
      }
    }
  }

  .toc-heading {
    font-size: var(--step-2);
    font-weight: var(--font-medium);
    color: var(--color-text-muted);
  }

  @media (min-width: 90rem) {
    .table-of-contents {
      display: block;
    }
  }
</style>

<script>
  import "@scripts/toc-spy";
</script>
