<aside class="table-of-contents">
  <nav class="toc-nav stack-sm" aria-label="Table of contents">
    <h2 class="toc-heading">Overview</h2>
    <ul id="toc-list" class="stack-sm"></ul>
  </nav>
</aside>

<style>
  .table-of-contents {
    display: none;
    position: sticky;
    top: 0px;
    padding: 1rem 2rem 1rem 0;
    align-self: start;
  }

  .toc-nav {
    --space: 1em;
    max-height: calc(100dvh - 2rem);
    overflow-y: auto;
    padding-block: 5rem;
    padding-inline: 0.5rem;

    ul {
      margin-block-start: 1em;
      --space: 0.75rem;

      a {
        transition: all 0.15s ease;
        color: var(--color-text-muted);
      }

      a:hover {
        color: var(--color-text);
      }

      a[aria-current="true"] {
        color: var(--color-link-active);
      }
    }
  }

  .toc-heading {
    font-size: var(--step-2);
    letter-spacing: 0.025em;
    color: var(--color-text-muted);
  }

  @media (min-width: 90rem) {
    .table-of-contents {
      display: block;
    }
  }
</style>

<script>
  import "@scripts/toc-spy";
</script>
