<button id="toggle-article-list">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg
  >
</button>

<style>
  svg {
    transition: transform 0.3s ease;
  }
  svg[open] {
    transform: rotate(0.5turn);
    transition: transform 0.3s ease;
  }
</style>

<script>
  const button = document.querySelector('#toggle-article-list') as HTMLButtonElement;
  const svg = button.querySelector('svg') as SVGElement;

  button.addEventListener('click', () => svg.toggleAttribute('open'));
</script>
