---
import { Icon } from "astro-icon/components";
---

<button id="theme-toggle-button" class="btn icon-only">
  <span class="hide" id="moon-icon">
    <Icon name="moon-star" />
  </span>
  <span class="" id="sun-icon">
    <Icon name="sun" />
  </span>
</button>

<script>
  import "@scripts/theme-toggle";
</script>
