---
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';
---

<Button id="theme-toggle-button" variant="ghost" size="icon">
  <Icon name="moon-star" />
  <Icon name="sun" />
</Button>

<style>
  button[data-theme='light'] > svg[data-icon='moon-star'] {
    display: none;
  }

  button[data-theme='dark'] > svg[data-icon='sun'] {
    display: none;
  }
</style>

<script>
  import '@scripts/theme';
</script>
