---
import { Icon } from "astro-icon/components";
const icons = [
  {
    name: "discord",
    href: "https://discord.gg/7rZ5fC6w",
  },
  {
    name: "github",
    href: "https://github.com/matthew-millard",
  },
  {
    name: "linkedin",
    href: "https://www.linkedin.com/in/matthew-richie-millard/",
  },
  {
    name: "instagram",
    href: "https://www.instagram.com/_mattmillard/",
  },
];
---

<div class="vertical-icon-bar">
  {
    icons.map((icon) => (
      <a href={icon.href} target="_blank" rel="noopener" aria-label={icon.name}>
        <Icon name={icon.name} class="icon" />
      </a>
    ))
  }
</div>

<style>
  .vertical-icon-bar {
    display: none;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    flex-shrink: 0;
    margin-left: auto;
    columns: 1;
    row-gap: 2rem;
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background-color: var(--surface-bg);
  }

  @media (min-width: 90rem) {
    .vertical-icon-bar {
      display: grid;
    }
  }

  a {
    display: grid;
  }

  .icon {
    font-size: 1.5rem;
  }
</style>
